@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CRUDOperationsDemo.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

<head>
    <link href="../css/login.css" rel="stylesheet" runat="server" />
</head>
<div class="container mt-5">
    <form asp-action="SendMail" class="row fs-2">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <img src="../images/logo.png" />
            </div>
        </div>
        <div class="col-5">
            <div class="d-flex justify-content-end">
                <span style="color: red;">User Name:</span>
            </div>
        </div>
        <div class="col-7">
            <input asp-for="Email" id="email" type="text" placeholder="Enter user name" />
        </div>
        <div class="col-5">
        </div>
        <div class="col-7 mt-3">
            <div class="d-flex col-3 mt-3">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
}
