.green-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: green;
}
.brown-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: burlywood;
}
.red-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
}