input {
    outline : 1px solid gray !important;
    height : 40px;
    padding: 20px;
    border-radius : 30px;
    border: none;
    font-size: 20px;

    min-width: 400px;
}

button {
    text-transform : uppercase !important;
    border : none !important;
    height : 40px;
    cursor : pointer;
    letter-spacing : 2px;
    font-size: 20px;

    min-width: 200px;

    background-color: rgb(255, 146, 98);
    border-radius: 30px;
}

.itemDiv {
    margin-bottom: 20px;

    background-color: rgb(101, 238, 153);
    width: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 30px;

    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;

    font-size: 25px;
}