.green-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: green;
}
.brown-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: burlywood;
}
.red-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
}

button {
    text-transform: uppercase !important;
    border: none !important;
    height: 40px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 20px;
    min-width: 200px;
    background-color: rgb(255, 146, 98);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}